In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [45]:
url  = 'https://in.talent.com/jobs?context=&k=data+analyst&l=India&s=&id=afd0d97467f6'
req1 = requests.get(url)
print(req1.status_code)

200

In [43]:
## Multiple page scrapping
address = 'https://in.talent.com'
np = 'class="page-next page"'
link_list = [url]
for i in range(5):
    soup = BeautifulSoup(req.content,'html.parser')
    a = soup.find_all('a','aria-label' == 'Next Page')
    b = list(a)
    for i in b:
        if np in str(i):
            c = i
            break
    new_link = c['href']
    link = address+new_link
    link_list.append(link)
    req = requests.get(link)
    print(req.status_code)

200
200
200
200
200

In [44]:
link_list

['https://in.talent.com/jobs?context=&k=data+analyst&l=India&s=&id=afd0d97467f6',
 'https://in.talent.com/jobs?k=data+analyst&l=India&p=7&context=serp_pagination',
 'https://in.talent.com/jobs?k=data+analyst&l=India&p=8&context=serp_pagination',
 'https://in.talent.com/jobs?k=data+analyst&l=India&p=9&context=serp_pagination',
 'https://in.talent.com/jobs?k=data+analyst&l=India&p=10&context=serp_pagination',
 'https://in.talent.com/jobs?k=data+analyst&l=India&p=11&context=serp_pagination']

Now we have the links of the first 6 pages.

In [79]:
df = pd.DataFrame(columns = ['Job_role','Employer','Location'])
index = 0
for i in link_list:
    url = i
    req = requests.get(url)
    s1 = BeautifulSoup(req1.content,'html.parser')
    aa = s1.find_all('section',class_ = 'card card__job')
    for i in aa:
        s2 = BeautifulSoup(str(i),'html.parser')
        job = s2.find_all('h2',class_ = 'card__job-title card__job-link gojob')
        job_name = job[0].text
        job_name
        df.loc[index,'Job_role'] = job_name
        emp = s2.find_all('div',class_ = 'card__job-empname-label')
        emp_name = emp[0].text
        emp_name
        df.loc[index,'Employer'] = emp_name
        loca = s2.find_all('div',class_ = 'card__job-location')
        loc = loca[0].text
        loc
        df.loc[index,'Location'] = loc
        index = index + 1

In [81]:
df

,Job_role,Employer,Location
0,Data Analyst,Kline & Company,Telangana
1,Data Analyst,Nielsen,"Mumbai, Maharashtra"
2,Data Analyst,SECRET VMS TECHNOLOGIES LLP,"Pune, Maharashtra"
3,Data Analyst,Tamcherry - Zaportiv,"Chennai, Tamil Nadu"
4,Data Analyst,Quess IT Staffing (Formerly known as Magna Inf...,Delhi
...,...,...,...
115,Data Analyst,Recruitrix Technologies,Telangana
116,Data Analyst,Bonzer Business Solutions(BBS),"Gurugram, Haryana"
117,Data Analyst,dailyhunt,"Bangalore, Karnataka"
118,Data Analyst,Newtonschool,"Bangalore, Karnataka"
119,Data Analyst,GenXHire Services Private Limited,"Mumbai, Maharashtra"

In [82]:
df.to_excel('Scrapped.xlsx')